.card {
    border: 1px solid rgb(237, 234, 234);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(99, 97, 97);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;


}
.card .card-image {
    max-width: 70%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}
.card .card-title {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: rgba(53, 53, 232, 0.752)
}

.card .card-text {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    color: hsla(240, 84%, 27%, 0.752)
}

.student {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    padding: 10px;
    border: 1px solid rgba(83, 88, 85, 0.163)
}
.student p {
    margin: 0;
}

.welcome-message {
    font-size: 2.5em;
    background-color: rgb(31, 197, 31);
    padding: 10px;
    color: aliceblue;
    border-radius: 5px;
    margin: 0;
}

.login-prompt {
    font-size: 2.5em;
    background-color: rgb(197, 31, 61);
    padding: 10px;
    color: aliceblue;
    border-radius: 5px;
    margin: 0;
}

.list-category {
    font-size: 2.5em;
    font-weight: bold;
    color: rgb(33, 7, 7);
    margin-bottom: 10px;
    text-align: center;
    border: 3px solid;
    border-radius: 5px;
    background-color: rgb(99, 165, 42);
}

.list-items li {
    font-size: 2em;
    margin: 0
}
.list-items li:hover {
    color: gray;
    cursor: pointer;
}
.state {
    font-size: large;
    color: rgb(6, 127, 1);
    border: 3px solid;
}

.inc-btn {
    background-color: green;
    color: rgb(55, 39, 39);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 150px;
    height: 40px;
    font-weight: bold;
    margin: 0px 5px;
}
.dec-btn {
    background-color: rgb(128, 119, 0);
    color: rgb(19, 10, 10);
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 150px;
    height: 40px;
    font-weight: bold;
    margin: 0px 5px;
}
.res-btn {
    background-color: rgb(128, 0, 15);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 150px;
    height: 40px;
    font-weight: bold;
    margin: 0px 5px;
}
.res-btn:hover {
    background-color: rgb(241, 102, 102);
}
.inc-btn:hover {
    background-color: rgb(80, 244, 91);
}
.dec-btn:hover {
    background-color: rgb(248, 243, 173);
}

.counter-container {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.count-display {
    font-size: 5em;
    margin-top: 0;
    color: brown;

}


.color-picker-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    margin: 50px;
    font-size: 3rem;
}
.color-display {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: 25px;
    margin-bottom: 25px;
    transition: 0.25s ease;

}
.color-display p {
    color: hsl(0, 0%, 20%);
    font-size: 2rem;
    text-align: center;
}
label {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}
input[type="color"] {
    width: 75px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    border: 3px solid hsl(0, 0%, 80%)
}

.car-display {
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: 25px;
    padding-bottom: 25px;
    width: 305px;
    text-align: center;
    background-color: rgb(224, 70, 175);

}

.menu-display {
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: 25px;
    padding-bottom: 25px;
    width: 305px;
    cursor: pointer;
    background-color: rgb(224, 191, 70);

}


.car-list-display {
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: 25px;
    padding-bottom: 25px;
    width: 305px;
    cursor: pointer;
    background-color: rgb(239, 122, 49);
}